header {
    margin-top: -25px;
    height: 70px;
    background-color: #ffffff3d;
    text-align: center;
    color: #ffffff;
}
body {
    background-image: url("bg.jpeg");
}
table {
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
}
p {
    font-size: 50px;
    font-weight: bold;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 4%;
    color: #a7aa00;
}
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: -20px;
    margin-left: -70px;
    color: #78b1e7;
}
img {
    width: 303px;
    top: -1px;
    left: -1px;
    position: absolute;
}
h1 {
    text-align: center;
    color: #e90000;
    margin-top: 60%;
}
.clock1 {
    float: center;
    background: #e7f2f7;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 13px solid #042099;
    position: relative;
}
.clock2 {
    background: #e7f2f7;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 13px solid #5b018f;
    position: relative;
}
.clock3 {
    background: #e7f2f7;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 13px solid #8d0505;
    position: relative;
}
.hour-hand, .minute-hand, .second-hand {
    background: #000;
    position: absolute;
    transform-origin: bottom center;
}
.hour-hand {
    width: 10px;
    height: 75px;
    top: 75px;
    left: 146px;
    border-radius: 6px 6px 0 0;
}
.minute-hand {
    width: 6px;
    height: 120px;
    top: 30px;
    left: 148px;
    border-radius: 4px 4px 0 0;
}
.second-hand {
    width: 4px;
    height: 123px;
    top: 26px;
    left: 149px;
    background: rgb(247, 132, 2);
    border-radius: 2px 2px 0 0;
}
.center {
    width: 20px;
    height: 20px;
    background: #000000;
    border: 6px solid #4de0c0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    border-radius: 50%;
}